body{
    max-width: 1980px;
    background-color: #0D276B;
}

h1, h4{
    color: white;
    opacity: 0.97;
}

.s_card{
    background-color: white;
    opacity: 0.97;
    border-radius: 10px;
}

.fine{
    background-color: #B21226;
    border-radius: 1rem;
    vertical-align: middle;
}

.fine-h6{
    margin-bottom: 0 !important;
    color: white;
}

.logout_button{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}