{% extends 'librarianfeatures.html' %}

{% load static %}

{% block all_features %}

<div class="mt-4 pl-5 search-results col-md-10 col-lg-9 offset-md-2 offset-lg-1">

      <div class="col-md-12 mt-1 mb-3">
        
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="m-4 col-md-8">
                {{title_form.title}}
            </div>
            <div class="m-4 col-md-8">
                {{title_form.author}}
            </div>
                <div class="m-4 col-md-8">
                {{title_form.total_book_count}}
            </div>
            <div class="m-4 col-md-8">
                <button class="btn" style="background-color: #00CA80;" type="submit" name="Search">Issue</button>
            </div>
        </form> 

        <div class="m-4 col-md-8">
            {{title_form.errors}}
        </div>
    </div>
</div>



{% endblock %}