{% extends 'librarianfeatures.html' %}

{% load static %}

{% block all_features %}

<div class="mt-4 pl-5 search-results col-md-10 col-lg-9 offset-md-2 offset-lg-1">

    <form method="GET" class="row">
        {% csrf_token %} 
        <div class="col-md-8">
        {{form.searchinput}}
        </div>
        <div class="col-md-4" id="">
        <button class="btn searchbutton" type="submit" name="Search">Search</button>
        </div>
    </form>
    <div class="mt-5"></div>
    <!-- <h2>{{count}}</h2> -->
    <!-- <h2>{{result}}</h2> -->

    <ul class="list-unstyled">
    {% for i in bookdata %}

       {% if i.total_book_count %}
         
        <li class="card col-md-9 mb-3 pl-4 p-3">
          <h5>{{i.title}}</h5>
          <p class="display-6">{{i.author}}</p>

         <div class="mt-2">
            <button id="" value="{{i.title}}#{{i.author}}" style="background-color: #E9ECF5;" type="submit" class="btn btn-primary float-right ml-2 return_button" data-toggle="modal" data-target="#exampleModalCenter1">Return</button>
            <button id="" value="{{i.title}}#{{i.author}}"  style="background-color: #00CA80;" type="submit" class="btn btn-primary float-right mr-1 issue_button" data-toggle="modal" data-target="#exampleModalCenter2">Issue</button>
            <div class="col-12">{{i.errors}}</div>
         </div>
        </li>
        
      {% else %}

        <li class="card col-md-9 mb-3 pl-4 p-3" style="background-color: #DBB7B7;">
          <h5>{{ i.title }}</h5>
          <p class="display-6">{{i.author}}</p>

          <div class="mt-2">
            <button id="return_button" value="{{i.title}}#{{i.author}}" style="background-color: #E9ECF5;" type="submit" class="btn btn-primary float-right ml-2">Return</button>
            <div class="col-12">{{i.errors}}</div>
          </div>
        </li>
      
      {% endif %}
      
    {% endfor %}
    </ul>

    <!--This is the modal class for returning books-->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Return</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Modal Body-->
          <div class="modal-body">

            <div class="container-fluid">
              <form method="GET" class="row">
                {% csrf_token %} 
                <div class="col-md-12">
                  <h6>Title</h6>
                </div>
                <div class="col-md-12 mb-4 mt-1">
                  <input id="modal_r_title" name="modal_r_title" type="text" readonly="true" value=""/>
                </div>
                <div class="col-md-12">
                  <h6>Author</h6>
                </div>
                <div class="col-md-12 mb-5 mt-1">
                  <input id="modal_r_author" name="modal_r_author" type="text" readonly="true" value=""/>
                </div>
                <div class="col-md-12">
                  <h6>Accession No.</h6>
                </div>
                <div class="col-md-12 mt-1 mb-3">
                {{returnform.return_acc_no}}
                </div>
                <div class="col-md-8 mb-2" id="">
                <button class="btn" type="submit" name="Search" style="background-color: #E9ECF5;">Return</button>
                </div>
              </form>
            </div>
          </div>
          <!--Modal Body-->
        </div>

      </div>
    </div>

    <!--This is the modal class for issuing books-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Issue</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container-fluid">
              <form method="GET" class="row">
                {% csrf_token %} 
                <div class="col-md-12">
                  <h6>Title</h6>
                </div>
                <div class="col-md-12 mb-4 mt-1">
                  <input id="modal_title" name="modal_title" type="text" readonly="true" value=""/>
                </div>
                <div class="col-md-12">
                  <h6>Author</h6>
                </div>
                <div class="col-md-12 mb-5 mt-1">
                  <input id="modal_author" name="modal_author" type="text" readonly="true" value=""/>
                </div>
                
                <div class="col-md-12">
                  <h6>Student Registration No.</h6>
                </div>
                <div class="col-md-12 mt-1 mb-3">
                {{issueform.issue_registration_no}}
                </div>
                <div class="col-md-12">
                  <h6>Accession No.</h6>
                </div>
                <div class="col-md-12 mt-1 mb-3">
                {{issueform.acc_no}}
                </div>
                <div class="col-md-12 mb-2" id="">
                <button class="btn" style="background-color: #00CA80;" type="submit" name="Search">Issue</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>

</div>

<script type="text/javascript">
  $(".issue_button").click(function () {
      var value = $(this).attr("value");
      console.log(value);0
      var arr = value.split("#");
      title_name = arr[0];
      author_name = arr[1];
      $("#modal_title").val(title_name);
      $("#modal_author").val(author_name);
  });

  $(".return_button").click(function () {
      var value = $(this).val();
      var arr = value.split("#");
      title_name = arr[0];
      author_name = arr[1];
      $("#modal_r_title").val(title_name);
      $("#modal_r_author").val(author_name);
  });
</script>



{% endblock %}