{% extends 'librarianfeatures.html' %}

{% load static %}

{% block all_features %}

<div class="mt-4 pl-5 search-results col-md-10 col-lg-9 offset-md-2 offset-lg-1">

    <form method="GET" class="row">
        {% csrf_token %} 
        <div class="col-md-8">
        {{form.searchinput}}
        </div>
        <div class="col-md-4" id="">
        <button class="btn searchbutton" type="submit">Search</button>
        </div>
    </form>

    <a href="http://127.0.0.1:8000/logout/">Click Here To Logout</a>
    <!-- <h2>{{count}}</h2> -->
    <!-- <h2>{{result}}</h2> -->

    <ul class="list-unstyled">
    {% for i in bookdata %}

       {% if i.total_book_count %}
         
        <li class="card col-md-9 mb-3 pl-4 p-3">
          <h5>{{ i.title }}</h5>
          <p class="display-6">{{ i.author}}</p>

         <div class="mt-2">
            <button style="background-color: #E9ECF5;" type="submit" class="btn btn-primary float-right ml-2">Return</button>
            <button style="background-color: #00CA80" submit" class="btn btn-primary float-right mr-1">Issue</button>
         </div>
        </li>
        
      {% else %}

        <li class="card col-md-9 mb-3 pl-4 p-3" style="background-color: #DBB7B7;">
          <h5>{{ i.title }}</h5>
          <p class="display-6">{{ i.author}}</p>

          <div class="mt-2">
            <button style="background-color: #E9ECF5;" type="submit" class="btn btn-primary float-right ml-2">Return</button>
          </div>
        </li>
      
      {% endif %}
      
    {% endfor %}
    </ul>

</div>


{% endblock %}